/*****************************
******************************

	1. Generic................  imports and resets
	2. Elements...............  html, body, heading and paragraph, input, links, images
	3. Objects................  containers, layout
	4. Components.............  logo, navigation
	5. Utilities..............  island of misfit classes

******************************
*****************************/





/*****************************
******************************

	1. Generic................  imports and resets

******************************
*****************************/





/*****************************
******************************

	2. Elements...............  html, body, core elements

******************************
*****************************/

html, body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
}

h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}





/*****************************
******************************

  3. Objects................  containers, layout

******************************
*****************************/





/*****************************
******************************

  4. Components..............   features blocks, forms, logo, navigation

******************************
*****************************/





/*****************************
******************************

  5. Utilities..............

******************************
*****************************/

.background-01 {
  background: url('../../images/background-01.png');
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  opacity: .75;
  background-size: contain !important;
}

.foreground--coral {
  background: url('../../images/foreground-coral.png');
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  background-size: cover !important;
}

.text__link--yellow {
  color: #FFE000;
  text-decoration: none;
}

.text__link--yellow::after {
  color: #FFE000;
  text-decoration: none;
}

.nav__main {
  // padding-left: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  @media (min-width: 0px) and (max-width: 767px) {
    justify-content: center;
  }
  li {
    // flex: 0 0 auto;
    list-style-type: none;
    padding: 0 2em 0 0;
  }
  li:nth-child(1) { /*logo*/
  	margin-right: auto; /*applied only to the right*/
    @media (min-width: 0px) and (max-width: 767px) {
      margin-right: inherit;
    }
  }
  li.contact {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 2em;
    @media (min-width: 0px) and (max-width: 767px) {
      display: none;
    }
  }
  li.contact a {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    top: 2px;
  }
  // li.contact a::before {
  //   content: url('../../images/icon-message-in-a-bottle.svg');
  //   padding:1em;
  //   position: relative;
  //   top: 8px;
  // }
  li:nth-child(1) {
  	/*margin-right: auto; applied only to the right*/
  }
}

.logo__main {
  min-width: 200px
}

.social-icons {
  padding-left: 0 !important;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 2em 0 0;
  }
  img {
    width: 24px;
  }
}
